@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  /* background: linear-gradient(#Ffdd74,white); */
  /* background: linear-gradient(#FCDF7B, #FF724D); */
  background: #FFFFFF;
  position: sticky;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Cocon';
  src: url('../asset/fonts/cocon-regular.otf');
  /* src: url('../asset/OpenSans/OpenSans-Medium.ttf'); */
  font-weight: 400;
  font-style: normal;
  }